<app-draggable-list class="card-list"
                    [disabled]="!isEditMode()"
                    [items]="cardStore.cards()"
                    (itemDropped)="reorderItems($event)">
  <ng-template draggable-item
               let-item>
    <app-card-view class="secondary-background text-xs"
                   [card]="item"
                   ngxLongPress2
                   (onLongPress)="onLongPress()"
                   [class.editable]="isEditMode()"
                   (click)="navigate(item.id)">
    </app-card-view>
  </ng-template>
</app-draggable-list>

