$primary-palette: (
  50 : #e9ede5,
  100 : #c8d1bf,
  200 : #a4b394,
  300 : #809569,
  400 : #647e48,
  500 : #496728,
  600 : #425f24,
  700 : #39541e,
  800 : #314a18,
  900 : #21390f,
  A100 : #acff74,
  A200 : #8dff41,
  A400 : #6fff0e,
  A700 : #62f400,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$secondary-palette: (
  50 : #f7f9f5,
  100 : #ecefe6,
  200 : #dfe5d6,
  300 : #d2dbc6,
  400 : #c9d3b9,
  500 : #bfcbad,
  600 : #b9c6a6,
  700 : #b1be9c,
  800 : #a9b893,
  900 : #9bac83,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #edffd3,
  A700 : #e2ffb9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
