:host {
  @apply h-screen flex flex-col;
  ::ng-deep {
    .mat-mdc-tab.mdc-tab {
      @apply w-1/3;
    }
    .mdc-tab-indicator {
      @apply hidden
    }
  }
}

.toolbar {
  height: 64px;

  .main-icon {
    width: 32px;
    min-width: 32px;
    margin-top: -8px;
  }
}

.tab-label {
  @apply flex flex-col items-center text-sm
}
