:host {
  display: flex;
  flex-direction: column;
  @apply p-4;
  transition: width ease-in-out 100ms;

  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100vh;
  background: white;
  z-index: 10;
}


.card-preview {
  aspect-ratio: 1.586;
}


.small-input {
  width: 120px;
}

.need-scroll {
  @apply border-t-2;
}

.submit-button {
  height: 44px !important;
}
