<div class="flex items-center mb-6">
    <button mat-icon-button aria-label="add new card"
            routerLink="/cards-list">
        <mat-icon>close</mat-icon>
    </button>
    <h1 class="title-large">Add New Card</h1>
</div>
<div #scrollBar class="overflow-auto flex flex-col">
    <div class="card-preview secondary-container rounded-xl mb-6 flex-shrink-0">
    </div>

    <div class="flex gap-2">

        <mat-form-field appearance="outline" class="flex-grow">
            <mat-label>Label</mat-label>
            <input #labelInput matInput placeholder="My awesome card #1"
                   type="text">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-input">
            <mat-label>Currency</mat-label>
            <select matNativeControl>
                <option value="BYN" selected>BYN</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="UZS">UZS</option>
                <option value="RUB">RUB</option>
                <option value="PLN">PLN</option>
            </select>
        </mat-form-field>
    </div>

    <div class="flex gap-2">
        <mat-form-field appearance="outline" class="flex-grow">
            <mat-label>Card Number</mat-label>
            <input matInput
                   type="tel"
                   placeholder="4242 4242 4242 4242"
                   mask="9999 9999 9999 9999">
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-input">
            <mat-label>Pin</mat-label>
            <input matInput
                   type="tel"
                   placeholder="1234"
                   mask="9999">
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Card Holder Name</mat-label>
        <input matInput
               type="text"
               oninput="this.value = this.value.toUpperCase()"
               placeholder="Peter Griffin">
    </mat-form-field>

    <div class="flex gap-2">
        <mat-form-field appearance="outline" class="flex-grow">
            <mat-label>Expiry Date</mat-label>
            <input matInput
                   type="tel"
                   placeholder="10/28"
                   mask="99/99">
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-grow">
            <mat-label>CVV</mat-label>
            <input matInput
                   type="tel"
                   placeholder="123"
                   mask="999">
        </mat-form-field>
    </div>
</div>

<div class="flex-grow"></div>

<div class="flex justify-center p-2 pt-3"
     [class.need-scroll]="needScroll()">
    <button mat-flat-button color="primary" class="w-2/3 submit-button">Add New Card</button>
</div>
