<div class="card-list">
  @for (card of cardStore.cards(); track card.id) {
    <div class="card secondary-background rounded-2xl p-2 aspect-square">
      <div class="card-title primary-text">{{card.label}}</div>
      <div class="card-currency text-xs font-medium">{{card.currency}}</div>
      <!--      <div class="card-paymentType">{{card.paymentType}}</div>-->
      <!--      <div class="card-bank">{{card.bank}}</div>-->
      <div class="card-pin font-medium text-center">{{card.pin}}</div>
    </div>
  }
</div>

